:root {
  --max-width: 1280px;
  --min-width: 320px;
  --accent-color: #00c2ff;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Roboto, sans-serif;
}




/*______________MAIN_______________*/
main {
  width: 100%;
  min-width: var(--min-width);
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("/img/background_01.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


}

.header, section, .contenedor-footer{

  max-width: var(--max-width);
  padding: 1rem;
  width: 100%;
  margin:0 auto;
}
a {
  color: white;
  text-decoration: none;
}

.texto-blanco {
  font-size: 24px;
  color: white;
}

.boton-azul {
  background-color: #00c2ff;
  padding: 16px 32px;
  text-decoration: none;
  color: white;
}


/*______________HEADER_______________*/

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  padding: 1rem;
}

.logo {
  font-size: 42px;
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
}

.nav ul li {
  margin: 20px;
}




/*______________SECTION_______________*/
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  
  max-width: var(--max-width);
  padding: 2rem;
  flex-grow: 1;/* Expxlicar */
  
  align-items: flex-start;
  justify-content: center;


  
}

.titulo {
  font-size: 64px;
  color: #00c2ff;
  margin: 0;
}

.subtitulo {
  font-size: 36px;
}




/*______________FOOTER_______________*/
footer{
  width: 100%;
  background-color: black;
}

.contenedor-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  justify-content: space-between;
}

.contenedor-footer > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contenedor-footer div p {
  margin: 0;
}

.subtitulo-footer {
  color: #00c2ff;
  font-size: 24px;
  margin: 0 0 1rem 0;
}




/*______________RESPONSIVE-ADAPTATIVO_______________*/
@media screen and (max-width: 1280px){
  
}